@model IEnumerable<CrudDoctor.TB_USERS>

@{
    ViewBag.Title = "Ctalog User's";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.USERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERPASSWORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BORNDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USEREMAIL)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <a href="@(Url.Action("Edit", new { id = item.ID_USER }))">
            <i class="fas fa-edit"></i>
        </a>
        <a href="@(Url.Action("Delete", new { id = item.ID_USER }))">
            <i class="fas fa-trash-alt"></i>
        </a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.USERNAME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.USERPASSWORD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BORNDATE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.USEREMAIL)
    </td>
</tr>
}

</table>
